body {
    
    background-color: rgb(165, 187, 247);
    width: 700px;
    height: 50px;
    margin: auto;
    
}
div{
 text-align: center;
 
}
.span1{

    text-decoration: line-through;
    text-transform: uppercase;
}
#span2{
    font-size: 50px;
}
.box{
    font-size: 15px;
    background-color: rgb(126, 155, 235);
}

.div2{
    
    font-weight: bold;
    text-indent: 30px;
    background-color: rgb(240, 242, 255);
    text-align: left;
    width: 400px;
    
}
.div3{

    word-spacing: 6px;
    background-color: rgb(2, 2, 134);
    color: white;

}